"*":
  core:
    db:
      machineId: "qYVKObA-C"
    disabledPackages: [
      "switch-notebook"
    ]
    lastNavigationState:
      editingNoteId: "note:Ui9MtYaAa"
      queryContext:
        bookId: "book:biNRz1Ggz"
        filterKeyword: ""
        includeChildren: false
        mode: "book"
      sidebar:
        workspace:
          bookId: ""
          visible: false
    mainWindow:
      acrylicEnabled: true
      fullscreen: false
      hiddenComponents:
        "sidebar-menu": []
      maximized: false
      noteListBar:
        w: 318
      position:
        x: 0
        y: 25
      sideBar:
        collapsedBooks: [
          "book:UPNZrebjB"
        ]
        w: 282
      size:
        h: 1415
        w: 1406
    server:
      auth:
        password: "yuzInkdropx9"
        username: "yuz"
      bindAddress: "127.0.0.1"
      enabled: true
      port: 19840
    themes: [
      "monokai-dark-syntax"
      "monokai-dark-ui"
      "github-preview"
    ]
  editor:
    fontSize: 16
    showInvisibles: true
    viewMode: "edit"
  "link-card":
    autolinks: false
  preview:
    fontSize: 17
  "switch-notebook":
    switchWithReturnKey: true
