"*":
  core:
    db:
      machineId: "qYVKObA-C"
    disabledPackages: [
      "switch-notebook"
      "code-fold"
    ]
    lastNavigationState:
      editingNoteId: "note:RICB61SVN"
      queryContext:
        bookId: "book:OLJZDjyAB"
        filterKeyword: ""
        includeChildren: false
        mode: "book"
      sidebar:
        workspace:
          bookId: ""
          visible: false
    mainWindow:
      acrylicEnabled: true
      fullscreen: false
      hiddenComponents:
        "sidebar-menu": [
          "SideBarMenuTagList"
          "SideBarMenuStatusList"
        ]
      maximized: false
      noteListBar:
        w: 249
      position:
        x: 0
        y: 25
      sideBar:
        collapsedBooks: [
          "book:UPNZrebjB"
        ]
        visible: false
        w: 241
      size:
        h: 1331
        w: 1200
    server:
      auth:
        password: "yuzInkdropx9"
        username: "yuz"
      bindAddress: "127.0.0.1"
      enabled: true
      port: 19840
    themes: [
      "nord-syntax"
      "nord-preview"
      "nord-ui"
    ]
  editor:
    fontSize: 16
    showInvisibles: true
    viewMode: "edit"
  "link-card":
    autolinks: false
  preview:
    fontSize: 17
  "switch-notebook":
    switchWithReturnKey: true
