"*":
  core:
    db:
      machineId: "qYVKObA-C"
    disabledPackages: [
      "code-fold"
    ]
    lastNavigationState:
      editingNoteId: "note:BubbA0hj0"
      queryContext:
        bookId: "book:LFuvrG5Dx"
        filterKeyword: ""
        includeChildren: false
        mode: "book"
      sidebar:
        workspace:
          bookId: ""
          visible: false
    mainWindow:
      acrylicEnabled: true
      fullscreen: false
      hiddenComponents:
        "sidebar-menu": [
          "SideBarMenuTagList"
          "SideBarMenuStatusList"
        ]
      maximized: true
      noteListBar:
        w: 249
      position:
        x: 0
        y: 25
      sideBar:
        collapsedBooks: [
          "book:UPNZrebjB"
          "book:EcKgixnSD"
        ]
        w: 241
      size:
        h: 1331
        w: 1200
    server:
      auth:
        password: "yuzInkdropx9"
        username: "yuz"
      bindAddress: "127.0.0.1"
      enabled: true
      port: 19840
    themes: [
      "github-preview"
      "default-dark-ui"
      "material-dark-mod-syntax"
    ]
  editor:
    fontSize: 15
    lineNumbers: true
    styleActiveLine: true
    viewMode: "edit"
  "link-card":
    autolinks: false
  preview:
    fontSize: 18
  "switch-notebook":
    switchWithReturnKey: true
